*{
    margin: 0;
    padding: 0;
   font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("/images/zermat.jpg") ;
    background-size: cover;
    background-position: center;


}
.navbar{
    width: 70%;
    margin-top: 50px;
    margin-left:300px;
    margin-right: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    
}
.logo{
    width:400px;
    cursor: pointer;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.search{
    display: flex;
    justify-content: end;

}
.searchbar{
    width: 300px;
    height: 20px;
    border-radius: 3px;
    border:3px rgb(17, 9, 9) solid;
    position: relative;
   


}
.searchbutton{
     background:url("icons/search.svg") ;
     background-size: cover;
     height: 25px;
     width: 25px;
     border-radius: 5px;
     border:1px grey solid;
     position:absolute;
     

    
   
}

.navbar ul li{

    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #f80505;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100% ;
}

.about{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("/images/zermat2.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    
    color: #fff;

}

.text{
    display: flex;
    
   
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

 
.me{
    width: 400px;
    height: 300px;
    text-align: center;
    margin-right: 50px;
    
}
 
.blog{
        width: 100%;
        height:100vh;
        background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("/images/2.jpg") ;
        background-size: cover;
        background-position: center;}
.work{
            width: 100%;
            height: 100vh;
            background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("/images/3.jpg") ;
            background-size: cover;
            background-position: center;}        
.contact{
                width: 100%;
                height: 100vh;
                background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("/images/4.jpg") ;
                background-size: cover;
                background-position: center;}    